/* button{

    background-color: red;

} */

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
     /* Set a height for the container (viewport height) */
  }

button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around the content (vertical, horizontal) */
    border: none; /* Remove the default button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a cursor pointer on hover */
    font-size: 16px; /* Font size of the text */
    text-align: center; /* Center align the text */
    text-decoration: none; /* Remove underlines from the text */
  }
  
  /* Style the button on hover */
button:hover {
    background-color: #45a049; /* Darker green color on hover */
  }
  
  /* Style the button on active (when clicked) */
button:active {
    background-color: #3e8e41; /* Even darker green color when clicked */
  }

#otpLabel{
    position: relative;
    left: 40px;
}

.bad{

    position: relative;
    top:50px;
}